* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: raleway-med;
  src: url(Font/static/Raleway-Medium.ttf);
}

:root {
  --darkgray1: #24272d;
  --darkgray2: #5a5d62;
  --darkgray3: #3b404a;
  --white2: #cfcfcf;
  --blue: #2ba0a3;
  --gray: #30343b;
  --gray2: #323233;
}

@keyframes backimgt {
  to {
    top: 135px;
    opacity: 1;
  }
}

@keyframes slid {
  to {
    transform: translatex(-450px);
  }
}

@keyframes slid2 {
  to {
    transform: translatex(0);
  }
}

@keyframes animetxt {
  to {
    transform: translateX(10px);
  }
}


body,
input,
button {
    font-family: raleway-med;
}

html{
  scroll-behavior: smooth;
}

.backimg {
  background-image: url(assets/img/home-slide.jpg);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 160px;
    top: 165px;
    opacity: 0;
    animation: backimgt 1s linear forwards;
    position: absolute;

    > h1 {
      font-size: 70px;
      margin-bottom: 20px;
      font-weight: 100;
    }

    > p {
      font-size: 26px;
      letter-spacing: 3px;
      text-transform: capitalize;
    }
  }
}



.part2 {
  padding: 120px 30px;
  display: flex;
  justify-content: space-evenly;

  > div {
    width: 32%;
    margin: 0 15px;

    &:nth-of-type(1) {
      > h2 {
        font-size: 50px;
        color: var(--darkgray1);
        line-height: 50px;
        font-weight: 100;
      }

      > .linep2 {
        width: 55%;
        background-color: rgba(203, 200, 200, 0.407);
        height: 2.5px;
        margin: 40px 0 30px;
      }

      > p {
        font-size: 22px;
        color: var(--darkgray2);
        line-height: 45px;
        font-style: italic;
      }
    }

    &:nth-of-type(2) {
      > figure {
        margin-bottom: 16px;
        overflow: hidden;
        height: 210px;

        > img {
          width: 100%;
          transition: 1s;
          overflow: hidden;
          height: 100%;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      > p {
        color: var(--darkgray2);
        line-height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 13px;
      }
    }

    &:nth-of-type(3) {
      > p {
        color: var(--darkgray2);
        line-height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 13px;
      }
    }
  }
}

.slid1 {
  overflow: hidden;
  position: relative;

  > div {
    width: 150%;
    height: 300px;
    transform: translate(0);
    animation: slid 7s linear alternate infinite;
    background-image: url(assets/img/home-section1.webp);
    background-position: bottom;
    background-size: cover;
  }

  > p {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
  }
}
.slid2 {
  overflow: hidden;
  position: relative;

  > div {
    width: 150%;
    height: 300px;
    transform: translate(-450px);
    animation: slid2 7s linear alternate infinite;
    background-image: url(assets/img/home-section2.webp);
    background-position: center;
    background-size: cover;
  }

  > p {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
  }
}
.slid3 {
  overflow: hidden;
  position: relative;

  > div {
    width: 150%;
    height: 300px;
    transform: translate(0);
    animation: slid 7s linear alternate infinite;
    background-image: url(assets/img/home-section3.webp);
    background-position: center;
    background-size: cover;
  }

  > p {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
  }
}
.slid4 {
  overflow: hidden;
  position: relative;

  > div {
    width: 150%;
    height: 300px;
    transform: translate(-450px);
    animation: slid2 7s linear alternate infinite;
    background-image: url(assets/img/home-section4.webp);
    background-position: bottom;
    background-size: cover;
  }

  > p {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
  }
}
.slid5 {
  overflow: hidden;
  position: relative;

  > div {
    width: 150%;
    height: 300px;
    transform: translate(0);
    animation: slid 7s linear alternate infinite;
    background-image: url(assets/img/home-section5.webp);
    background-position: center;
    background-size: cover;
  }

  > p {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
  }
}
.part3 {
  display: flex;
  align-items: center;
  padding: 130px 30px 50px 30px;

  > div {
    &:nth-of-type(1) {
      width: 30%;

      > h3 {
        color: var(--darkgray1);
        font-size: 48px;
        font-weight: 100;
      }
    }

    &:nth-of-type(2) {
      width: 2px;
      height: 160px;
      background-color: rgba(203, 200, 200, 0.407);
    }

    &:nth-of-type(3) {
      width: 68%;

      > p {
        color: var(--darkgray2);
        font-size: 22px;
        margin-left: 40px;
        font-style: italic;
        line-height: 40px;
      }
    }
  }
}

.gallury {
  > div {
    display: flex;

    &:nth-of-type(1) {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 40px;

      > div {
        width: 29%;

        &:nth-of-type(1) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }

        &:nth-of-type(2) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }

        &:nth-of-type(3) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }
      }
    }

    &:nth-of-type(2) {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 75px;

      > div {
        width: 29%;

        &:nth-of-type(1) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }

        &:nth-of-type(2) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }

        &:nth-of-type(3) {
          > figure {
            position: relative;

            > a {
              text-decoration: none;

              > img {
                width: 100%;
                height: 230px;

                &:nth-of-type(2) {
                  opacity: 0;
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          > div {
            transition: 0.4s;

            > a {
              text-decoration: none;
              color: var(--darkgray1);
              font-size: 18px;

              &:hover {
                color: var(--blue);
              }
            }

            > p {
              font-size: 13px;
              color: var(--darkgray2);
              font-style: italic;
              margin-top: 5px;
            }
          }

          &:hover {
            > figure {
              > a {
                > img {
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
            }

            > div {
              transform: translateX(15px);
            }
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  > div {
    &:nth-of-type(1) {
      width: 100%;
      background-color: var(--darkgray1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 65px 25px;

      > div {
        display: flex;

        > div {
          display: flex;
          align-items: center;
          justify-content: center;

          > a {
            text-decoration: none;

            > i {
              font-size: 22px;
              color: var(--white2);
              transition: 0.7s;
            }
          }
        }

        > div {
          width: 37px;
          height: 37px;
          background-color: var(--darkgray3);
          border-radius: 50%;
          margin-left: 10px;
          transition: 0.5s;

          &:hover {
            background-color: var(--gray2);

            > a {
              > i {
                color: var(--blue);
              }
            }
          }
        }
      }

      > button {
        font-size: 14px;
        display: block;
        padding: 12px 30px;
        border: 1px solid var(--white2);
        background-color: inherit;
        color: var(--white2);
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          background-color: var(--gray);
        }
      }
    }

    &:nth-of-type(2) {
      background-color: var(--gray);
      display: flex;
      padding: 35px 25px;

      > p {
        color: var(--darkgray2);

        &:nth-of-type(1) {
          font-size: 12px;
          margin-right: 110px;

          > a {
            text-decoration: none;
            color: var(--white2);
            transition: 0.4s;

            &:hover {
              color: var(--blue);
            }
          }
        }

        &:nth-of-type(2) {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          margin-right: 45px;
          color: white;
        }
      }

      > a {
        text-decoration: none;
        color: var(--white2);
        font-size: 12px;
        transition: 0.4s;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}

.spg {
  a {
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
    background-color: var(--gray2);
    opacity: 0.7;
    position: fixed;
    bottom: 0;
    right: 70px;
    transition: 0.4s;

    > i {
      color: var(--white2);
    }

    &:hover {
      background-color: var(--blue);
    }
  }
}
